<.header>
    FastLLM.cpp Documentation
</.header>

<.section>
    <.p>As a new project, there is very little documentation. Please visit our <.blue_link navigate="https://github.com/thansen0/fastllm.cpp">Github</.blue_link> to view current usage proceedures.</.p>

    <.p>You can view a sample <.blue_link navigate="https://github.com/thansen0/fastllm.cpp/blob/master/src/test-client.cpp">client app</.blue_link>, which can also be built an run in the app as testllmcpp in your build folder.</.p>
</.section>