<.header>
    FastLLM.cpp Documentation
</.header>

<.section>
    <.p>As a new project, there is very little documentation. Please visit our <.blue_link navigate="https://github.com/thansen0/fastllm.cpp">Github</.blue_link> to view current usage procedures.</.p>

    <.p>You can view a sample <.blue_link navigate="https://github.com/thansen0/fastllm.cpp/blob/master/src/test-client.cpp">client app</.blue_link>, which can also be built an run in the app as testllmcpp in your build folder.</.p>

    <.p>Please don't be afraid to contact me on <.blue_link navigate="https://x.com/mongocompass">Twitter/X</.blue_link> or email at contact@thomashansen.xyz, I'm happy to hear how/if people are using this and what things they want improved.</.p>
</.section>