<.header>
  Welcome to FastLLM.cpp!
</.header>

<.section>
  <.header>
    <:actions>
      <.link patch={~p"/api_keys/new"}>
        <.button>New Api key</.button>
      </.link>
    </:actions>
  </.header>
</.section>
