<.header>
  Prompt {@prompt.id}
  <:subtitle>Processed LLM Chat Prompt.</:subtitle>
</.header>

<.list>
  <:item title="Prompt">{@prompt.prompt}</:item>
  <:item title="Response">{@prompt.response}</:item>
</.list>

<.back navigate={~p"/api_keys/#{@api_key}"}>Back to API Key</.back>

<.modal :if={@live_action == :edit} id="prompt-modal" show on_cancel={JS.patch(~p"/prompts/#{@prompt}")}>
  <.live_component
    module={FastllmcppWeb.PromptLive.FormComponent}
    id={@prompt.id}
    title={@page_title}
    action={@live_action}
    prompt={@prompt}
    patch={~p"/prompts/#{@prompt}"}
  />
</.modal>
